@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito , sans;
}
body{
    padding-top: 55px;

}
.navbar {
    background-color: #D6D9E5;
}
.navbar-brand img {
    object-fit: cover;
}
.navbar-brand a {
    color: white;
}
.navbar-nav a {
    color: #0A0D19;
}
.hero {
    background-image: url('../img/slide1.png');
    background-size: cover;
    color: white;
    text-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Nunito;
    


}
.over{
    position: absolute;
    width: 70%;
    background: rgba(52, 64, 124, 0.65);
    padding: 10px 0;
}
.over h2{
    font-weight: 900;

}
.over span{
color:#E9C525 ;
}
ul {
    list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
}

li {
    margin-bottom: 10px; /* Add margin between list items */
    font-size: 16px; /* Customize the font size */
}
.bg-overlay {
    background-image: url('./img/logo.png');
    background-repeat: no-repeat;
    background-color: rgba(54, 55, 143, 0.9);
    background-size: cover;
    height: 50vh;
    background-position: center;
}
.counter {
    text-align: center;
    padding: 20px;
    display: flex;
  }

  .counter-icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #0A0D19;

  }

  .counter-number {
    font-size: 36px;
    font-weight: 700;
    color: #0A0D19;

    font-family: 'Pacifico', cursive;
  }

  .counter-text {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;

  }




@media (max-width:768px) {
    hero{
        min-height: 60vh;
  
    }
}