*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 55px;
}
.navbar {
    background-color: #333;
}
.navbar-brand img {
    object-fit: cover;
}
.navbar-brand a {
    color: white;
}
.navbar-nav a {
    color: white;
}
.hero {
    background-image: url('../img/slide1.png');
    background-size: cover;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.over{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0, 0, 0.4);
}
ul {
    list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
}

li {
    margin-bottom: 10px; /* Add margin between list items */
    font-size: 16px; /* Customize the font size */
}
.bg-overlay {
    background-image: url('./img/logo.png');
    background-repeat: no-repeat;
    background-color: rgba(225,225, 225, 0.9);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
@media (max-width:768px) {
    hero{
        min-height: 50vh;
  
    }
}